<li class="list-group-item">
  <input type="checkbox" class="form-check-input my-1"
         [checked]="todo.isCompleted"
         (change)="changeTodoStatus(todo)"
  />
  <span class="todo-item"
        [ngClass]="{'todo-ngClass': todo.isCompleted}"
  >
          {{ i + 1 }}. {{ todo.name }}
        </span>
  <button class="btn btn-danger btn-sm mx-2" (click)="toggleModal()">Usun</button>
</li>

<app-modal *ngIf="openModal"
            [title]="'Usuwanie zadania'"
            [message]="'Czy chcesz usunac zadanie nr: ' + (i + 1) + ' ?'"
           (close)="toggleModal()"
>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="toggleModal()">Nie</button>
  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onDelete()">Tak</button>
</app-modal>
